In [1]:
#Netflix Data Analysis

In [2]:
#importing the dependencies
#adjusting the column options
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.max_colwidth', None)

In [3]:
#importing the dataset
data = pd.read_csv(r"C:\Users\abhis\Downloads\netflix data.csv")

In [4]:
#printing first 2 rows from our dataset
data.head(2)

,Show_Id,Category,Title,Director,Cast,Country,Release_Date,Rating,Duration,Type,Description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, Rodolfo Valente, Vaneza Oliveira, Rafael Lozano, Viviane Porto, Mel Fronckowiak, Sergio Mamberti, Zezé Motta, Celso Frateschi",Brazil,"August 14, 2020",TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi & Fantasy","In a future where the elite inhabit an island paradise far from the crowded slums, you get one chance to join the 3% saved from squalor."
1,s2,Movie,07:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, Azalia Ortiz, Octavio Michel, Carmen Beato",Mexico,"December 23, 2016",TV-MA,93 min,"Dramas, International Movies","After a devastating earthquake hits Mexico City, trapped survivors from all walks of life wait to be rescued while trying desperately to stay alive."

In [5]:
#checking for rows and columns count in our dataset
data.shape

(7789, 11)

In [6]:
#gathering an overview of information about our dataset
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7789 entries, 0 to 7788
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Show_Id       7789 non-null   object
 1   Category      7789 non-null   object
 2   Title         7789 non-null   object
 3   Director      5401 non-null   object
 4   Cast          7071 non-null   object
 5   Country       7282 non-null   object
 6   Release_Date  7779 non-null   object
 7   Rating        7782 non-null   object
 8   Duration      7789 non-null   object
 9   Type          7789 non-null   object
 10  Description   7789 non-null   object
dtypes: object(11)
memory usage: 669.5+ KB

In [7]:
#checking the overall individual elements in our dataset
data.size

85679

In [8]:
#fetching the column names
data.columns

Index(['Show_Id', 'Category', 'Title', 'Director', 'Cast', 'Country',
       'Release_Date', 'Rating', 'Duration', 'Type', 'Description'],
      dtype='object')

In [9]:
#checking the data-type of each column
data.dtypes

Show_Id         object
Category        object
Title           object
Director        object
Cast            object
Country         object
Release_Date    object
Rating          object
Duration        object
Type            object
Description     object
dtype: object

In [10]:
# so far we know that 
# 1.we have few nulls in our dataset
# 2. the release date is in string format and if required we will change that format using pandas

In [12]:
#checking for duplicate data records and eliminate them if there are any
data[data.duplicated()]

,Show_Id,Category,Title,Director,Cast,Country,Release_Date,Rating,Duration,Type,Description
6300,s684,Movie,Backfire,Dave Patten,"Black Deniro, Byron ""Squally"" Vinson, Dominic Costa, Nick Ferraro, Peter Ferriero, Jowharah Jones",United States,"April 5, 2019",TV-MA,97 min,"Dramas, Independent Movies, Thrillers","When two would-be robbers accidentally kill a made man, they find themselves on the run from the South Philly Italian mob."
6622,s6621,Movie,The Lost Okoroshi,Abba T. Makama,"Seun Ajayi, Judith Audu, Tope Tedela, Ifu Ennada, Chiwetalu Agu, Demi Banwo, Ibrahim Jammal, Micheal Ajotubu, Ozzy Agu, Cristabel Goddy",Nigeria,"September 4, 2020",TV-MA,94 min,"Comedies, Dramas, Independent Movies","A disillusioned security guard transforms into a masquerade, channeling ancestral spirits as he roams the streets of Lagos."

In [13]:
#we have these two records which are duplicates
#eliminating them
data.drop_duplicates(inplace = True)

In [14]:
data[data.duplicated()]

Empty DataFrame
Columns: [Show_Id, Category, Title, Director, Cast, Country, Release_Date, Rating, Duration, Type, Description]
Index: []

In [15]:
#there are non duplicates present now and we can verify it using shape
data.shape

(7787, 11)

In [16]:
#earlier we hade 7789 rows and now we have 7787 rows, confirmaing the duplicates have been eliminated

In [ ]:
#now we will check for null values